extends layout

block content
  <div class="jumbotron">
  <div class="container">
  <h1>网址缩短</h1>
  <p>请输入需要缩短的网址</p>
  <p>
  <textarea class="form-control" id="js-url-input" rows="12" placeholder="请输入网址"></textarea>
  </p>
  <p class="text-right"><a class="btn btn-primary btn-lg" id="js-btn-create" role="button">生成</a></p>
  </div>
  </div>