html{
    background-color:#eeeeee;
}
.jumbotron{
    z-index: 1;
    position: absolute;
    width: 100%;
    top:0;
    background-color: rgba(0,0,0,0);
}
textarea.form-control{
    resize: none;
    font-size: 20px;
}
#particles{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(170, 228, 255, 0.15);
}
#particles .pg-canvas{
    height: 100%;
    width: 100%;
}